.col-md-7 p {
  padding-top: 10px;
  line-height: 45px;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.tofit {
  max-width: 600px;
  max-height: 400px;
}


@media (max-width: 1024px) {
  .tofit {
    max-width: 100vw;
    max-height: none;
  }
}
